<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<appSettings>
		<add key="Directory" value="d:\repo\git"/>
		<add key="Pattern" value="*.cs|*.js|*.csproj"/>
		<add key="Ignore" value=""/>
	</appSettings>
</configuration>
